.title {
    font-family: 'REM', sans-serif;
}

.header {
    background: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-right: 15px;
}

.nav-menu a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}


.data_content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background-color: rgb(219, 216, 216);
}

.data_heading {
    margin-bottom: 40px;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.before {
    width: 30px;
    height: 30px;
    border: 1px solid blue;
    color: blue;
    background: #fff;
}

.after {
    width: 30px;
    height: 30px;
    border: 1px solid blue;
    color: blue;
    background: #fff;
}

.work {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.work__container {
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.table-container {
    border-collapse: collapse;
}
.th {
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
}

.td {
    border-top: 1px solid black;
    padding: 10px;
    padding-right: 55px;
    padding-left: 40px;
    text-align: center;
}

.pagination {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.pagination-mark {
    color: blue;
    font-weight: bold;
    font-size: 10px;
}

.pagination-mark:hover{
    color: white;
}

.pagination-box {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid rgb(219, 216, 216);
    background-color: #fff;
    cursor: pointer;
}

.pagination-box:hover {
    background-color: blue;
}

.pagination-number {
    color: blue;
    font-weight: bold;
}

.pagination-number:hover {
    color: white;
}

.footer {
    background-color: #fff;
}

.footer-content {
    margin: 0 auto;
    padding: 0 1cm;
    max-width: 1230px;
}

.footer-text {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
}