.title {
    font-family: 'REM', sans-serif;
}
.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color:black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

.member-form_content {
    margin:0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background-color: rgb(219, 216, 216);
}

.member-form_heading {
    margin-bottom: 40px;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.form {
    margin: 0 auto;
    width:100%;
    text-align: center;
}

.form__group {
    margin-bottom: 10px;
}

.from__input--text {
    height: 20px;
    border-radius: 3px;
    background-color: rgb(219, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form__error {
    height: 20px;
    font-size:13px;
    color: red;
    display: flex;
    justify-content: center;
}

.form__button {
    margin-top: 30px;
}

.from__button-submit {
    /* padding: 10px; */
    width: 17%;
    height: 20px;
    border: none;
    border-radius: 3px;
    background: blue;
    color: white;
    cursor: pointer;
}

.account-link {
    margin-top: 5px;
    padding-bottom: 0%;
    margin-bottom: 0px;
    font-size: small;
}

.login-link {
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}

.footer {
    background-color: #fff;
}

.footer-content {
    margin:0 auto;
    padding: 0 1cm;
    max-width: 1230px;
}

.footer-text {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
}